---
---

@import './normalize';
@import './prism';

@import 'mixins';
@import 'colours';

/* LAYOUT */
html {
	min-height: 100%;
	position: relative;
	height: auto;
}

body {
	margin: 0 0 50px 0;
	height: auto;
}

/* TEXT */
body {
	background-color: $black;
	color: $beige;

	font-family: "PT Serif", "Georgia", serif;
}

::selection {
	background: $beige;
	color: $chocolate;
}

::-moz-selection {
	background: $beige;
	color: $chocolate;
}


article > p:first-of-type,
blockquote > p {
	text-indent: 0;
}

pre {
	font-size: inherit;
	line-height: 1;
}

.page-content > p {
	text-align: center;
}

.posts {
	line-height: 1.4;

	padding-left: 0;

	li {
		list-style: none;
		padding-bottom: 10px;
	}

}

.posts,
.post-title {
	text-align: center;
}


/* LINKS */
a {
	color: $tangerine;

	text-decoration: none;
}

a:hover {
	color: $pom;
	@include transition(0.25s color);
}

/* IMAGES */
img {
	display: block;
	width: 100%;
}

img[src$=".gif"] {
	display: inline-block;
	margin: 0;
	width: auto;
}

/* OTHER ELEMENTS */
hr {
	height: 1px;
	border: 0;

	border-top: solid 2px $chocolate;
}

/* QUOTES */
blockquote {
	margin-left: 0;

	font-style: italic;

	text-indent: 0;

	p {
		font-size: 1.3em;
	}

	p:first-of-type {
		margin-top: 0;
		text-indent: -15px;
		&::before {
			content: "“";
			margin-right: 2px;
		}
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}

/* TYPOGRAPHY */
article {
	font-size: 15px;
	line-height: 1.5;
}

article > h1 {
	font-size: 2em;
	line-height: 1.1em;
	letter-spacing: -0.04em;

	margin-bottom: 0.1em;
	padding-bottom: 0;
}

article > .post-subtitle {
	font-size: 1.25em;
	letter-spacing: -0.04em;

	margin-top: 0;
	font-style: italic;
	font-weight: 300;
	text-align: center;
}

@media screen and (min-width: 767px) {

	article {
		font-size: 20px;
		line-height: 30px;
	}

	article > .post-subtitle {

	}

	article > h1 {
		font-size: 2.5em;
		letter-spacing: -0.02em;
	}

	article > h2 {
		letter-spacing: -0.02em;
	}

}

@media screen and (min-width: 1279px) {

	article {
		font-size: 22px;
		line-height: 33px;
	}

	article > .post-subtitle {

	}

	article > h1 {
		font-size: 2.5em;
		letter-spacing: -0.04em;
	}

	article > h2 {
		letter-spacing: -0.04em;
	}

}

/* FOOTER */
.circle {
	display: inline-block;

	width: 30px;
	height: 30px;

	padding-top: 6px;

	border: solid 3px #4D4741;

	@include border-radius(100px);

	text-align: center;

	font-size: 8px;

	color: #D3CCAB;
	background-color: #4D4741;
}

.site-footer {
	@include no-select();

	position: absolute;
	bottom: 0;

	width: 100%;
	height: 50px;

	padding: 10px 0 10px 0;

	text-align: center;
}

@media screen and (min-width: 767px) {

	.circle {
		height: 45px;
		width: 45px;

		padding-top: 11px;

		font-size: 12px;
	}

	.site-footer {
		height: 85px;
	}

}

/* CONTENT */
.page-content {
	padding: 0 12px;
}

@media screen and (min-width: 767px) {

	body {
		margin-bottom: 85px;
	}

	.page-content {
		padding: 0 10%;
		margin-bottom: -85px;
	}

}

@media screen and (min-width: 1279px) {

	.page-content {
		padding: 0 30%;
		margin-bottom: -85px;
	}

}
