---
---
@import 'normalize';

@import 'mixins';
@import 'palette';

@import 'layout';
@import 'article';
@import 'body';
@import 'blockquotes';
@import 'anchors';
@import 'images';
@import 'code';
@import 'breaks';
@import 'posts-list';
@import 'footer';
@import 'footnotes';

::selection {
	background: $beige;
	color: $chocolate;
}

::-moz-selection {
	background: $beige;
	color: $chocolate;
}
