a {
  color: var(--link-colour);
  text-decoration: underline;

  @include transition(0.25s color);

  &::before {
    font-size: 12px;
    content: "";
  }

  &:hover {
    text-decoration: none;
  }

  &.back-button,
  &.contact-button {
    padding: 0.2em;

    font-size: 1.4em;
    letter-spacing: -0.05em;

    text-decoration: none;
    color: var(-link-colour);

    &:hover {
      text-decoration: none;
    }

    @media screen and (min-width: 1279px) {
      font-size: 1.4em;
    }
  }
}
