a {
  color: $highlight-colour;

  @include transition(0.25s color);

  &:hover {
    color: darken(desaturate(adjust-hue($highlight-colour, -3), 18.23), 7.45)
  }

  &.back-button {
    font-size: 1.6em;
    letter-spacing: -0.05em;
    padding: 0.2em;
    text-decoration: none;
  }

}
