article {
  font-size: 20px;
  line-height: 1.5;

  @media screen and (min-width: 767px) {
    font-size: 22px;
    line-height: 30px;
  }

  @media screen and (min-width: 1279px) {
    font-size: 24px;
    line-height: 1.5;
  }

  > h1 {
    margin-bottom: 0.1em;
    padding-bottom: 0;

    font-size: 1.8em;
    line-height: 1.1em;
    letter-spacing: -0.04em;

    text-align: center;

    @media screen and (min-width: 767px) {
      font-size: 2.5em;
      letter-spacing: -0.02em;
    }

    @media screen and (min-width: 1279px) {
      font-size: 2.0em;
      letter-spacing: -0.04em;
    }

  }

  > h2 {
    margin-top: 0;

    font-size: 1.25em;
    letter-spacing: -0.04em;

    font-weight: 300;
    text-align: center;

    @media screen and (min-width: 767px) {
      letter-spacing: -0.02em;
    }

    @media screen and (min-width: 1279px) {
      font-size: 1.2em;
      letter-spacing: -0.04em;
    }

  }

  > h3 {
    font-size: 0.8em;

    text-transform: uppercase;

    font-weight: 300;
    text-align: center;
  }

}

.post-header,
.post-footer {
  text-align: center;
  padding: 2em;
}

.post-footer {
  margin-top: 3em;
}
