blockquote {
	margin-left: 0;
	padding-left: 1em;
	border-left: 2px solid var(--border-colour);

	color: #333333;

	text-indent: 0;

	opacity: 0.9;

	p {
		font-size: 1em;
	}

	p:first-of-type {
		margin-top: 0;
	}

	p:last-of-type {
		margin-bottom: 0;
	}

}
