@import "./rouge-theme";

p > code {
	padding: 5px;
}

pre > code {
	display: block;
	width: 100%;

	white-space: pre-wrap;
}

code {
	padding: 5px 10px;

	font-size: 0.7em;
	line-height: 1.2;

	color: $code-colour;
	background: $code-background-colour;

	border: 1px solid $border-colour;

	border-radius: 3px;
}
