@import "./rouge-theme";

p > code {
	padding: 5px;
}

pre > code {
	display: block;
	width: 100%;
	padding: 3em;

	white-space: pre-wrap;
	background: white;
}

code {
	position: relative;
	display: inline-block;
	top: -1px;
	font-family: "Roboto Mono";
	padding: 2px 7px;
	margin: 2px 0;

	font-size: 0.8em;
	line-height: 1.2;

	color: var(--code-colour);
	background: var(--code-background-colour);
	border: 1px solid var(--code-border-colour);
	border-radius: 2px;;
}
