form {
  width: 75%;
  margin-top: 3em;

  text-align: left;

  input {
    font-family: inherit;
  }

  input[type="submit"] {
    font-family: "Inter", "Helvetica", sans-serif;
    border: none;
    background: var(--link-colour);
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 15px;
    font-weight: 600;
    letter-spacing: 0.05em;
    border-radius: 2px;

    &:hover {
      text-decoration: none;
    }
  }

  textarea {
    width: 100%;

    font-family: inherit;
    font-size: inherit;
    padding: 10px;
    border: 1px solid #CCC;

    border-radius: 3px;
  }
}
