form {
  width: 75%;
  margin-top: 3em;

  text-align: left;

  input {
    font-family: inherit;
  }

  input[type="submit"] {
    border: none;
    background: transparent;
    font-size: 1.1em;
    text-decoration: underline;
    color: var(--link-colour);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  textarea {
    width: 100%;

    font-family: inherit;
    font-size: inherit;
    padding: 10px;
    border: 1px solid var(--border-colour);

    border-radius: 3px;
  }
}
