html {
	position: relative;
}

body {
	margin: 0 0 0 0;
	padding: 0 20px;

  @media screen and (min-width: 767px) {
  	padding: 0 10%;
  }

  @media screen and (min-width: 1280px) {
  	padding: 0 20%;
  }

  @media screen and (min-width: 1600px) {
  	padding: 0 25%;
  }

}
