$bright-white: #FFFFFF;
$off-white: #FAFAFA;

$dark-black: #000000;
$off-black: #333333;

$highlighter-yellow: #F2E635;
$highlighter-pink: #FA2180;

:root {
  --text-colour: #{$dark-black};
  --text-select-colour: #{$bright-white};
  --text-select-background-colour: #{$highlighter-pink};
  --background-colour: #{$off-white};
  --link-colour: #{$highlighter-pink};

  --heading-background-colour: #{$highlighter-yellow};
  --code-colour: #{$off-black};
  --code-background-colour: #{$bright-white};
  --border-colour: #{$highlighter-yellow};
}
