::selection {
	color: var(--text-select-colour);
	background: var(--text-select-background-colour);
}

::-moz-selection {
	color: var(--text-select-colour);
	background: var(--text-select-background-colour);;
}
