<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="{{ site.description }}">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@{{ site.twitter_username }}">
		<meta name="twitter:creator" content="@{{ site.twitter_username }}">
		<meta name="twitter:url" content="{{ site.url }}{{ page.url}}">
		<meta name="twitter:title" content="{{ page.title }}">
		<meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">

		<meta property="os:repo" content="https://github.com/{{ site.github_username }}/gggritso.github.io" />
		<meta property="os:rcs_type" content="git" />
		<meta property="os:src" content="git@github.com:{{ site.github_username }}/gggritso.github.io.git" />

		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

		<style type="text/css">
			{% capture include_to_scssify %}
				{% include critical.scss %}
			{% endcapture %}
			{{ include_to_scssify | scssify }}
		</style>
	</head>

	<body>
		{{ content }}
		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	</body>
</html>
