<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="{{ site.description }}">

		<meta property="og:title" content="{{ page.title }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
		<meta property="og:site_name" content="{{ site.title }}" />

		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=EB+Garamond:400,700&display=swap" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond:400,700&display=swap" media="print" onload="this.media='all'" />

		<noscript>
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond:400,700&display=swap" />
		</noscript>

		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

		<style type="text/css">
			{% capture include_to_scssify %}
				{% include critical.scss %}
			{% endcapture %}
			{{ include_to_scssify | scssify }}
		</style>

		<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
	</head>

	<body>
		{{ content }}
	</body>
</html>
